@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jaldi", sans-serif;
}

:root {
    --background:#282B59;
    --verde-principal:#7EF2B0;
    --background-form:#5d5fa67d;
}

body {
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--background);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-geral {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7%;
    margin-top: 3%;
}


.font {
    font-size: 20px;
}

input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.734);
    width: 300px;
    padding-top: 10px;
    color: white;
    font-size: 20px;
    padding-left: 10px;
}

input::placeholder {
    position: absolute;
    bottom: 0;
    color: white;
    left: 3%;
    font-size: 18px;
}

input:focus {
    outline: none;
}

.btn-continuar {
    background-color: var(--verde-principal);
    padding: 7px;
    width: 200px;
    border: 0;
    border-radius: 30px;
    font-size: 25px;
    margin-top: 3%;
}

.pass {
    position: relative;
}

.pass i {
    position: absolute;
    right: 5%;
    cursor: pointer;
    color: var(--verde-principal);
    font-size: 25px;
}




